<%-include("./partials/header")%>
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
    style="min-height: 100vh; background-size: cover; background-image: url(&quot;https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9&quot;);">
    <div class="container-fluid">
        <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
            <div class="col-12 col-md-8  h-50 ">
                <img alt="image" class="d-block mx-auto rounded-circle img-fluid img-l"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9NsDSOoaNT_OSGqtkejve5nmlQw50_reYsA&usqp=CAU">
                <h1 class="   text-light mb-2 mt-5"><strong><i class="fa-solid fa-archway"></i> Archway
                        Photography</strong> </h1>
                <p class="lead  text-light mb-5">Get Image With High Quality Phtographers</p>
                <p>
                    <a href="#" class="btn btn-outline-light btn-lg  ">Get Started Now
                        &gt;</a>
                </p>
                <div class="btn-container-wrapper p-relative d-block  zindex-1">
                    <a class="btn btn-outline-light border-0 btn-lg pr-2 pl-2 pt-3 pb-3  mt-md-5  scroll align-self-center  "
                        href="#section-1">
                        <i class="fa fa-angle-down fa-2x  "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<%-include("./partials/footer")%>